.container-product {
  position: relative;
  width: 350px;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-bottom: 15px;
  margin-right: 10px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 0 6px rgba(42, 42, 42, 0.2);

  .product-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
  }

  .badge-container {
    // position: absolute;
    bottom: 20px;
    display: flex;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: flex-start;
  }
}